.feature-wrap {
  width: 100%;
  background: $black;
  @include clearfix;
}

.feature__image,
.feature__content {
  display: block;
  height: 600px;

  @include bp(medium) {
    width: 50%;
    height: 600px;
    float: left;
    display: block;
  }
}

.feature__image {
  background: url('../img/square.jpg') center no-repeat;
  background-size: cover;
}

.feature--intro {

}

.feature--cross-section {
  display: none;
  padding: 2rem;
  background: $gold;

  @include bp(medium) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.feature {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  padding: 2rem 4rem;
  @include fs(18px);
  line-height: 1.4rem;
  color: white;
}


.feature__heading {
 font-style: italic;
 color: $gold;

 font-size: 1.8rem;
 line-height: 2rem;
}
