.feature-wrap {
  width: 100%;
  // background: $black;
  @include clearfix;
}

.feature__image {
  display: block;
  height: 600px;

  @include bp(medium) {
    width: 50%;
    height: 700px;
    float: left;
    display: block;
  }
}

.feature__content {
  display: block;

  @include bp(medium) {
    width: 50%;
    height: 700px;
    float: left;
    display: block;
  }
}

.feature__image {
  background: url('../img/square.jpg') center no-repeat;
  background-size: cover;
}

.feature--intro {

}

.feature--cross-section {
  display: none;
  padding: 2rem;
  background: $gold;

  @include bp(medium) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.feature {
  margin: 20px 0;
  padding: 1rem;

  p {
    @include fs(16px);
    line-height: 1.6rem;
  }

  @include bp(medium) {
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    margin: 0 2rem;
    padding: 2rem 0;
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }

  @include bp(medium-large) {
    margin: 0 4rem;
    padding: 2rem;
  }
}


.feature__heading {
  font-style: italic;
  color: $gold;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 200;
}
