.feature-wrap {
  width: 100%;
  padding: 0 0.5rem 0;

  @include bp(medium) {
    padding: 3rem 0 0;
  }
}

.feature--intro {
  background-color: white;
}

.feature--cross-section {
  display: none;
  margin-bottom: 3rem;

  @include bp(medium) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.feature {
  padding: 2rem;
  background: url('../img/building.svg') no-repeat 20px 0;
  @include fs(16px);
  line-height: 1.3rem;

  @include bp(medium) {
    height: 60vh;
  }
}

.feature__left, .feature__right {
  @include span-columns(12);
  height: 100%;

  @include bp(medium) {
    @include span-columns(6);
    display: inline-flex;
  }

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature__left {
  text-align: justify;
}

.feature__right {
  visibility: hidden;
  display: none;

  @include bp(medium) {
    display: inline-flex;
    visibility: visible;
  }
}

.feature__heading {
 @include fw(bold);
 font-style: italic;
 color: $gold;

 font-size: 1.2rem;
 line-height: 1.5rem;
}
