// external .feature-wrap div
.map {
  padding: 0;
}

// map div inside of .map
#map {
  height: 600px;
  cursor: auto;
}

.feature-wrap  {
  background: $black;
}

.map-content {
  padding: 3rem 0;
}

.map-heading {
  text-align: center;
  font-style: italic;
  color: $gold;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.map-features {
  @include outer-container();
}

.map__feature {
  padding: 0 20px;

  p {
    color: white;
    line-height: 1.5rem;
  }

  @include bp(medium) {
    padding: 0;
    @include span-columns(4);
  }
}
