.menu {
  margin: 0 20px 40px;

  @include bp(medium) {
    margin: 0;
  }
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.menu-link {
  margin: 0;
  padding: 10px 0;
  display: block;
  color: $black;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  @include f($lexia);
}


.menu__footer {
  margin: 0;
}
