.outro-wrap {
  width: 100%;
  background: $gold;
  @include clearfix;
}

.outro__image {
  display: block;

  @include bp(medium) {
    width: 50%;
    height: 700px;
    float: left;
    display: block;
  }
}

.outro__content {
  display: block;

  @include bp(medium) {
    width: 50%;
    height: 700px;
    float: left;
    display: block;
  }
}

.outro__image {
  background-size: cover;
  text-align: center;

  img {
    display: inline-block;
    width: 90%;
  }

  @include bp(medium) {
    img {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.outro {
  margin: 20px 0;
  padding: 1rem;

  p {
    @include fs(16px);
    line-height: 1.6rem;
  }

  @include bp(medium) {
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    margin: 0 2rem;
    padding: 2rem 0;
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }

  @include bp(medium-large) {
    margin: 0 4rem;
    padding: 2rem;
  }
}

.outro__heading {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 200;
}
