.footer {
  width: 100%;
  background-color: $black;
  min-height: 6rem;
  padding: 2rem 0;
  color: white;
  line-height: 1.3rem;
  @include clearfix;
  text-align: center;

  a, a:hover, a:active, a:visited {
    color: white;
  }

  @include bp(medium) {
    padding: 4rem 0;
    text-align: left;
  }
}

.footer__logo {

  img {
    display: inline-block;
    width: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  @include bp(medium) {
    margin-right: 10%;
    float: left;
    width: 20%;

    img {
      width: 90px;
      margin: 19px 10px 0 100px;
    }
  }
}

.footer__address {
  line-height: 1.6;
  margin-bottom: 20px;

  a {
    display: inline-block;
    padding-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid $gold;
  }

  @include bp(medium) {
    float: left;
    width: 25%;
    padding: 25px 0;
    margin: 0;
  }
}

.footer__nav {
  padding: 20px 0 0;

  .intro__menu .menu-link {
    @include fs(21px);
  }

  @include bp(medium) {
    float: right;
    padding: 1.5rem 0;
  }
}
