body {
  background: $beige;
}

.l-site {
  @include outer-container(1180px);
  background: $beige;
  margin: 0 auto;

  @include bp(medium) {
    // margin: 0;
  }

  @include bp(medium-large) {
    // margin: 0 40px;
  }

  @include bp(large) {
    // margin: 0 60px;
  }
}

.container {
  @include outer-container(990px);
  padding: 0 15px;

  @include bp(medium-large) {
    padding: 0;
  }
}

.page {
  border-top: 4px solid $black;
  // padding: 0 1rem;

  h2 {
    @include f($interface);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.3rem;
  }

  @include bp(medium) {
    padding: 2rem 30px;
  }
}
