.outro-wrap {
  width: 100%;
  background: $gold;
  @include clearfix;
}

.outro__content {
    padding: 50px 15px;
  display: block;

  @include bp(medium) {
    padding: 100px 15px;
  }

  @include bp(medium-large) {
    padding: 100px 0;
  }
}

.outro__image {
  background-size: cover;
  text-align: center;

  img {
    display: block;
    width: 90%;
    margin: 0 auto 50px auto;
  }

  @include bp(medium) {
    img {
      max-width: 1000px;
      width: 80%;
    }
  }
}

.outro {
  margin: 0;
  text-align: center;

  p {
    @include fs(16px);
    line-height: 1.6rem;
  }

  .break {
    width: 50%;
    background-color: $black;
    height: 5px;
    margin: 0 auto 50px auto;
  }

  &.last {
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }

    @include bp(medium) {
      margin-top: 80px;
    }
  }

  @include bp(medium-large) {
    max-width: 820px;
    width: 100%;
    margin: 0 auto 40px auto;
  }
}

.outro__heading {
  font-style: italic;
  font-size: 1.4375rem;
  line-height: 2rem;
  font-weight: 200;
  max-width: 650px;
  margin: 0 auto 1.4em auto;
}
