// colours
$gold: #b59964;
$beige: #fbf6f2;
$white: #ffffff;
$red: #e92518;

$grey: #807f7d;
$warm-grey: #5d5a56;
$warm-grey-light: #6d6a65;

$black: #333132;

// fonts
$interface: 'interface';
$lexia: 'lexia';
